<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Small</title>
</head>
<body>
    <h1>Small - A Medium Clone</h1>
    <h2>Available Blogs</h2>
    {% for blog in blogs %}
       <div>
           <h3><a href="/blogs/{{ blog.id }}/">{{ blog.title }}</a></h3>
           <h5>by {{ blog.user }}</h5>
       </div>
    {% endfor %}
</body>
</html>