<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }} - Small</title>
</head>
<body>
    <h1>{{ blog.title }}</h1>
    <h2>by {{ blog.user }}</h2>
    <hr>
    <ul>
    {% for post in blog.posts.all %}
        <li>
            <a href="">{{ post.title }}</a>
        </li>
    {% endfor %}
    </ul>
</body>
</html>